{
  "extends": [
    "eslint:recommended",
  ],
  "rules": {
    "no-console": ["error", { "allow": ["warn", "error"] }]
  },
  "plugins": [
    "html",
  ],
  "settings": {
    "import/resolver": "meteor"
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
