table, td, th {
    border: 2px solid #3B3B3B;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 8px;
}

th, td {
    padding: 8px;
}

th {
    width: 20%;
}


@media only screen and (max-width: 600px) {


    .table-item {
        padding: 6px;
    }
    table {
        border-collapse: collapse;
        max-width: 250px;
        margin-bottom: 8px;
    }

    body{
        overflow-x: hidden;
    }

}