table, td, th {
    border: 2px solid #3B3B3B;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 8px;
}

th, td {
    padding: 8px;
}

th {
    width: 20%;
}

.venuelist {
    display: flex;
    flex-direction: column;
    padding: 4px 0;
}

.venue {
    display: flex;
    height: 32px;
}

.venue-buttons {
    width: 50%;
}


