:root {
    --header-gray: #e9e9e9;
    --body-gray: #F7F7F7;
    --button-border: #3B3B3B;
    --button-highlight: #ccc;
    --text: #2E2E2E;
}
body {
    font-family: "K2D", sans-serif;
}

.datetimepickers-start {
    display: inline-block;
}

.datetimepickers-end {
    display: inline-block;
}

.wrapper {
    display: flex;
    flex-direction: column;

}

label {
    color: var(--text);
}


.event-form {
    flex-direction: column;
    width: 400px;
    margin-top: 20px;
}