hr {
    background: #3B3B3B;
}

.text {
    font-family: "K2D", sans-serif;

}

input.searchbar {
    height: 32px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    width: 30%;
    margin-right: -8px;
}

input.searchbar:focus {
    width: 80%;
}

.button.search-button {
    height: 32px;
    width: 20.5%;
    line-height: 1;
    margin-left: 0;
}

.form {
    text-align: left;
}