:root {
    --header-background: linear-gradient(90deg, #272727 0%, #202020 100%);;
    --body-background: #202020;
    --body-highlight: #2E2E2E;
    --light-body: #D6D6D6;
    --dark-body: #C4C4C4;
    --button-border: #3B3B3B;
    --button-highlight: #ccc;
    --text: #2E2E2E;
    --gold: #BE9100;
    --dark-gold: #AF8200;
    --gradient: linear-gradient(270deg, rgba(7, 41, 29, 0.92) 0%, rgba(6, 27, 41, 0.92) 100%);
}

hr {
    background: #3B3B3B;
}

.text {
    font-family: "K2D", sans-serif;

}

input.searchbar {
    height: 32px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    width: 30%;
    margin-right: -8px;
}

input.searchbar:focus {
    width: 80%;
}

.button.search-button {
    height: 32px;
    width: 20.5%;
    line-height: 1;
    margin-left: 0;
}

.form {
    text-align: left;
}