:root {
    --header-background: linear-gradient(90deg, #272727 0%, #202020 100%);
    --body-background: #202020;
    --body-highlight: #2E2E2E;
    --light-body: #D6D6D6;
    --dark-body: #C4C4C4;
    --button-border: #3B3B3B;
    --button-highlight: #ccc;
    --text: #2E2E2E;
    --gold: #BE9100;
    --header-gray: #e9e9e9;
    --dark-gold: #AF8200;
    --gradient: linear-gradient(270deg, rgba(7, 41, 29, 0.92) 0%, rgba(6, 27, 41, 0.92) 100%);
}
body {
    background: var(--gradient);
    font-family: "K2D", serif;
    text-align: center;
}

.wrapper {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.container {
    background: var(--light-body);
    display: inline-block;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    min-width: 400px;
    width: 80vw;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: var(--dark-body) solid 2px;
    margin: 16px;
    padding: 16px;
}

input {
    margin: 0px 0px 16px;
    box-sizing: border-box;
    border: 2px solid var(--button-border);
    border-radius: 4px;
    font-size: 16px;
    background-color: var(--dark-body);
    padding: 12px 20px 12px 10px;
    color: var(--text);
}

textarea {
    margin: 0px 0px 16px;
    box-sizing: border-box;
    border: 2px solid var(--button-border);
    border-radius: 4px;
    font-size: 16px;
    background-color: var(--dark-body);
    padding: 12px 20px 12px 10px;
    color: var(--text);
    resize: vertical;
    min-height: 65px;
    max-height: 150px;
}

select {
    margin: 4px 0px;
    box-sizing: border-box;
    border: 2px solid var(--button-border);
    border-radius: 4px;
    font-size: 16px;
    background-color: var(--dark-body);
    padding: 12px 20px 12px 10px;
    color: var(--text);
}

select option {
    font-size: 16px;
    padding: 4px;
}

input:focus {
    outline: none;
}

.button {
    margin: 0;
    box-sizing: border-box;
    border: 2px solid var(--button-border);
    border-radius: 4px;
    font-size: 16px;
    background-color: var(--body-background);
    padding: 6px;
    color: var(--light-body);
    width: 30%;
    text-align: center;
    text-decoration: none;
}

.button:focus {
    outline: none;
    background-color: var(--button-highlight);
}

.button:hover {
    background-color: var(--dark-gold);
    cursor: pointer;
}

.button:active {
    background-color: var(--gold)
}

.edit-fields {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.title {
    color: var(--body-background);
    font-family: "K2D", sans-serif;
    text-align: left;
    margin-top: 0;
}

.menu-image:hover {
    cursor: pointer;
}

label {
    text-align: left;
    color: var(--text);
    font-size: 14px;
    margin-bottom: 4px;
    font-family: "K2D", sans-serif;
}

hr {
    background: #3B3B3B;
}

.seperator {
    display: flex;
    flex-direction: column;
    border-top: var(--dark-body) solid 2px;
    padding-top: 20px;
    margin-top: 8px;
}


.tag-container {
    text-align: center;
    margin-bottom: 16px;
    width: 30%;
    border: var(--button-border) solid 2px;
    border-radius: 4px;
    font-family: "K2D", sans-serif;
    font-size: 14px;
    color: var(--text);
    line-height: 1.5;
}

.error {
    margin-top: 8px;
    background: rgba(32, 32, 32, 0.95);
    border-radius: 10px;
    border-color: #e74948;
    border-width: 2px;
    border-style: solid;
    padding: 16px;
    color: var(--header-gray);
    width: 400px;
}

.message-wrapper {
    display: flex;
    justify-content: center;
    margin: 32px 0px;
}

.success {
    margin-top: 8px;
    background: rgba(32, 32, 32, 0.95);
    border-radius: 10px;
    border-color: #4bc54c;
    border-width: 2px;
    border-style: solid;
    padding: 16px;
    color: var(--header-gray);
    width: 400px;
}

