body {
    margin: 0;
    padding: 0;

}

.banner {
    background: var(--header-background);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin-bottom: 16px;
}

.sidenav {
    font-family: "K2D", sans-serif;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: var(--header-background);
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 4px;
    box-shadow: 0px 4px 10px rgba(6, 27, 41, 0.25);
}

.sidenav .closebtn {
    font-size: 36px;
    margin-right: 32px;
    text-align: right;
    margin-bottom: 8px;
}

.nav-seperator {
    display: flex;
    flex-direction: column;
    border-top: var(--dark-body) solid 2px;
    width: 85%;
    margin-left: 16px;
    margin-top: 16px;
    padding-top: 16px;
}

.sidenav .icon-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 4px 0 4px 32px;
    align-items: center;
    margin-bottom: 20px;
}

.sidenav a {
    text-decoration: none;
    font-size: 24px;
    color: var(--light-body);
    display: block;
    transition: 0.3s;
    font-family: "K2D", sans-serif;
    padding: 8px 20px;
    text-align: left;

}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav-content {
    display: flex;
    flex-direction: column;
}

img:hover {
    cursor: pointer;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media only screen and (max-width: 600px) {
    .banner {
        background: var(--header-background);
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
        display: flex;
        justify-content: space-between;
        padding: 16px;
        max-width: 100%;
    }
}