.container {
    max-width: 1500px;
}

@media only screen and (max-width: 600px) {
    .flex-wrap {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .list {
        flex-direction: column;
    }
}

@media only screen and (max-width: 400px) {
    .container {
        max-width: 320px;
    }
}