:root {
    --header-background: #272727;
    --body-background: #202020;
    --body-highlight: #2E2E2E;
    --body: #D6D6D6;
    --body-gray: #C4C4C4;
    --button-border: #3B3B3B;
    --button-highlight: #ccc;
    --text: #2E2E2E;
    --gold: #BE9100
}
body {
    background: var(--body-gray);
    font-family: "K2D", serif;
    text-align: center;
}

input  {
    margin: 0px 0px 20px;
    box-sizing: border-box;
    border: 2px solid var(--button-border);
    border-radius: 4px;
    font-size: 16px;
    background-color: var(--body-gray);
    padding: 12px 20px 12px 10px;
    color: var(--text);
}

input:focus {
    outline: none;
}

.button {
    margin: 0;
    box-sizing: border-box;
    border: 2px solid var(--button-border);
    border-radius: 4px 0px 0px 4px;
    font-size: 16px;
    background-color: var(--header-background);
    padding: 6px;
    color: var(--body);
    width: 30%;
    text-align: center;
    text-decoration: none;
}

.button:focus {
    outline: none;
    background-color: var(--button-highlight);
}

.button:hover {
    background-color: var(--body-background);
    cursor: pointer;
}

.button:active {
    background-color: var(--gold)
}

.wrapper {
    background: var(--body);
    display: block;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.edit-fields {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 75%;
}

.title {
    color: var(--body-background);
    font-family: "K2D", sans-serif;
    text-align: left;
    margin-top: 0;
}

.menu-image:hover {
    cursor: pointer;
}

label {
    text-align: left;
    color: var(--text);
    font-size: 14px;
    margin-bottom: 4px;
    font-family: "K2D", sans-serif;
}

hr {
    background: #3B3B3B;
}

.seperator {
    display: flex;
    flex-direction: column;
    border-top: var(--body-gray) solid 2px;
    padding-top: 20px;
    margin-top: 10px;
}