.v-image {
    max-width: 40%;
    object-fit: cover;
}

.v-image:hover {
    cursor: default;
}

.list {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
    justify-content: center;
}

.event {
    display: flex;
    background: var(--body-background);
    justify-content: center;
    align-items: stretch;
    margin: -2px 0;
}

.event-name {
    flex-grow: 1;
    font-family: "K2D", sans-serif;
    box-sizing: border-box;
    border: 2px solid var(--button-border);
    border-radius: 4px;
    font-size: 16px;
    background-color: var(--dark-body);
    padding: 12px 20px 12px 10px;
    color: var(--text);
    min-width: 280px;
}

.event-buttons {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: stretch;

}

.event-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "K2D", sans-serif;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    background-color: var(--body-background);
    border: 2px solid var(--button-border);
    border-radius: 4px;
    padding: 12px 8px;
    color: var(--light-body);
    text-decoration: none;
    height: 100%;
    min-width: 50%;
}

.event-button:focus {
    outline: none;
    background-color: var(--button-highlight);
    border: 2px solid var(--button-border);
    border-radius: 4px;
}

.event-button:hover {
    background-color: var(--dark-gold);
    cursor: pointer;
    border: 2px solid var(--button-border);
    border-radius: 4px;
}

.event-button:active {
    background-color: var(--gold);
    border: 2px solid var(--button-border);
    border-radius: 4px;
}

@media only screen and (max-width: 600px) {
    .flex-wrap {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .list {
        flex-direction: column;
    }

    .event-name {
        min-width: 0;
    }

    .event-button {
        width: 74px;
    }

    body{
        overflow-x: hidden;
    }
}

@media only screen and (max-width: 400px) {
    .container {
        max-width: 320px;
    }
}