:root {
    --header-background: linear-gradient(90deg, #272727 0%, #202020 100%);
    --body-background: #202020;
    --body-highlight: #2E2E2E;
    --light-body: #D6D6D6;
    --dark-body: #C4C4C4;
    --button-border: #3B3B3B;
    --button-highlight: #ccc;
    --text: #2E2E2E;
    --gold: #BE9100;
    --header-gray: #e9e9e9;
    --dark-gold: #AF8200;
    --gradient: linear-gradient(270deg, rgba(7, 41, 29, 0.92) 0%, rgba(6, 27, 41, 0.92) 100%);
}

* html {
    font-family: "K2D", sans-serif;
}

body {
    margin: 0;
    background: url("../Assets/background2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    font-family: "K2D", sans-serif;
    color: var(--text);
    height: 90vh;
}

.wrapper {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(32, 32, 32, 0.95);
    padding: 16px;
    border-radius: 10px;
    width: 30%;
    min-width: 400px;
}

.outout-wrapper {
    text-align: center;
    padding: 20px;
}

label {
    display: none;
    color: var(--light-body);
}

input  {
    margin: 0px 0px 20px;
    box-sizing: border-box;
    border: 2px solid var(--button-border);
    border-radius: 4px;
    font-size: 16px;
    background-color: var(--header-gray);
    padding: 12px 20px 12px 10px;
    color: var(--text);
}

.login-button {
    margin: 0;
    box-sizing: border-box;
    border: 2px solid var(--button-border);
    border-radius: 4px 0px 0px 4px;
    font-size: 16px;
    background-color: var(--header-gray);
    padding: 6px;
    color: var(--text);
    width: 50%;
    text-align: center;
    text-decoration: none;
}

.login-button:focus {
    outline: none;
    background-color: var(--button-highlight);
}

.login-button:hover {
     background-color: var(--button-highlight);
     cursor: pointer;
 }

.login-button:active {
    background-color: #c0c0c0;
}

.register-button {
    margin: 0;
    box-sizing: border-box;
    border: 2px solid var(--button-border);
    border-radius: 0px 4px 4px 0px;
    border-left-width: 0;
    font-size: 16px;
    background-color: var(--header-gray);
    padding: 6px;
    color: var(--text);
    width: 50%;
    text-align: center;
    text-decoration: none;
}

.register-button:focus {
    outline: none;
    background-color: var(--button-highlight);
}

.register-button:hover {
    background-color: var(--button-highlight);
}

.register-button:active {
    background-color: #c0c0c0;
}

.form {
    display: inline-block;
    flex-direction: column;
    text-align: right;
    width: 100%;
}

.login-field {
    display: flex;
    flex-direction: column;
}

.error {
    margin-top: 8px;
    background: rgba(32, 32, 32, 0.95);
    border-radius: 10px;
    border-color: #e74948;
    border-width: 2px;
    border-style: solid;
    padding: 16px;
    color: var(--header-gray);
    width: 400px;
}

.success {
    margin-top: 8px;
    background: rgba(32, 32, 32, 0.95);
    border-radius: 10px;
    border-color: #4bc54c;
    border-width: 2px;
    border-style: solid;
    padding: 16px;
    color: var(--header-gray);
    width: 400px;
}

@media only screen and (max-width: 600px) {
    .wrapper {
        width: 100%;
        margin: 0 0 200px;
        max-width: 85%;
    }
    label {
        display: block;
    }
}

